// minimal dts configuration for rk3399
// include cpu, gpu, usb, sdmmc, sdhci, usb2, usb3, type-c

// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;

#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "rk3399.dtsi"
#include "rk3399-opp.dtsi"
// TODO

/ {
	model = "RK3399 Template";
	compatible = "rockchip,rk3399";

	aliases {
		mmc0 = &sdmmc;
		mmc1 = &sdhci;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	clkin_gmac: external-gmac-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "clkin_gmac";
		#clock-cells = <0>;
	};

	// Power settings
	// TODO: optional
	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dc_5v: dc-5v {
		compatible = "regulator-fixed";
		regulator-name = "dc_5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		vin-supply = <&dc_5v>;
	};

	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
		gpio = <&gpio2 RK_PB4 GPIO_ACTIVE_LOW>; // TODO:
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	// for type-c
	vbus_typec: vbus-typec-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vbus_typec";
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_typec_en>;
		gpio = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>; // TODO
		vin-supply = <&vcc_sys>; // TODO
	};

	vdd_log: vdd-log { // TODO
		compatible = "pwm-regulator";
		regulator-name = "vdd_log";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <1400000>;
		regulator-always-on;
		regulator-boot-on;
		pwms = <&pwm2 0 25000 1>;
		pwm-supply = <&vcc_sys>;
	};

	vcc_phy: vcc-phy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_phy";
		regulator-always-on;
		regulator-boot-on;
	};

	// LED settings
	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&power_led_pin>;

		power_led: power-led {
			label = "power";
			default-state = "on";
			linux,default-trigger = "default-on";
			gpios = <&gpio4 RK_PC2 GPIO_ACTIVE_LOW>; // TODO
		};
	};

};

&pinctrl {
	// TODO: optional, depend on &gmac
/*
	gmac {
		rgmii_sleep_pins: rgmii-sleep-pins {
			rockchip,pins =<3 RK_PB7 RK_FUNC_GPIO &pcfg_output_low>; // seems reserved
		};
	};
*/

	pmic {
		cpu_b_sleep: cpu-b-sleep {
			rockchip,pins = <1 RK_PC1 RK_FUNC_GPIO &pcfg_pull_down>; // seems reserved
		};
		gpu_sleep: gpu-sleep {
			rockchip,pins = <1 RK_PB6 RK_FUNC_GPIO &pcfg_pull_down>; // seems reserved
		};
		pmic_int_l: pmic-int-l {
			rockchip,pins =
				<1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>; // seems reserved
		};
	};

	usb {
		// TODO, optional
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <2 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>; // TODO
		};
		vcc5v0_typec_en: vcc5v0-typec-en {
			rockchip,pins = <4 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>; // TODO
		};
		// ...
	};

	// TODO, type-c
	fusb302 {
		fusb0_int: fusb0-int {
			rockchip,pins = <1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>; // seems reserved
		};
	};

	leds {
		power_led_pin: power-led-pin {
			// TODO: led
			rockchip,pins = <4 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

// -------------------- Power System -----------------------------------------
// i2c@ff3c0000
&i2c0 {
    clock-frequency = <400000>;
	i2c-scl-rising-time-ns = <180>; // TODO:
	i2c-scl-falling-time-ns = <30>; // TODO:
    status = "okay";

	vdd_cpu_b: regulator@40 {
		compatible = "silergy,syr827";
		reg = <0x40>;
		fcs,suspend-voltage-selector = <1>;
		// regulator-compatible = "fan53555-reg"; // TODO: optional,
		pinctrl-names = "default";
		pinctrl-0 = <&cpu_b_sleep>;
		regulator-name = "vdd_cpu_b";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
		regulator-ramp-delay = <1000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_gpu: regulator@41 {
		compatible = "silergy,syr828";
		reg = <0x41>;
		fcs,suspend-voltage-selector = <1>;
		// regulator-compatible = "fan53555-reg"; // TODO: optional
		pinctrl-names = "default";
		pinctrl-0 = <&gpu_sleep>;
		regulator-name = "vdd_gpu";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
		regulator-ramp-delay = <1000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	rk808: pmic@1b {
		compatible = "rockchip,rk808";
		reg = <0x1b>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PC5 IRQ_TYPE_LEVEL_LOW>; // seems reserved
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l>; // seems reserved
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		clock-output-names = "xin32k", "rtc_clko_wifi"; // TODO

		// TODO
		vcc1-supply  = <&vcc_sys>;
		vcc2-supply  = <&vcc_sys>;
		vcc3-supply  = <&vcc_sys>;
		vcc4-supply  = <&vcc_sys>;
		vcc6-supply  = <&vcc_sys>;
		vcc7-supply  = <&vcc_sys>;
		vcc8-supply  = <&vcc3v3_sys>;
		vcc9-supply  = <&vcc_sys>;
		vcc10-supply = <&vcc_sys>;
		vcc11-supply = <&vcc_sys>;
		vcc12-supply = <&vcc3v3_sys>;
		vddio-supply = <&vcc_1v8>;

		// TODO:
		regulators {
			vdd_center: DCDC_REG1 {
				regulator-name = "vdd_center";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_l: DCDC_REG2 {
				regulator-name = "vdd_cpu_l";
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG4 {
				regulator-name = "vcc_1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc1v8_dvp: LDO_REG1 {
				regulator-name = "vcc1v8_dvp";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			// in hdmi.dts
			// vcca1v8_hdmi: LDO_REG2 {

			vcca_1v8: LDO_REG3 {
				regulator-name = "vcca_1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc_sd: LDO_REG4 {
				regulator-name = "vcc_sd";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca3v0_codec: LDO_REG5 {
				regulator-name = "vcca3v0_codec";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v5: LDO_REG6 {
				regulator-name = "vcc_1v5";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1500000>;
				};
			};

			// in hdmi.dts
			// vcca0v9_hdmi: LDO_REG7 {

			vcc_3v0: LDO_REG8 {
				regulator-name = "vcc_3v0";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcc3v3_s3: SWITCH_REG1 {
				regulator-name = "vcc3v3_s3";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_s0: SWITCH_REG2 {
				regulator-name = "vcc3v3_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};
		};
	};
};

&io_domains {
	status = "okay";
	// TODO: ...
};

// -------------------- CPU/GPU ----------------------------------------------
// cpu@0
&cpu_l0 {
	cpu-supply = <&vdd_cpu_l>;
};

// cpu@1
&cpu_l1 {
	cpu-supply = <&vdd_cpu_l>;
};

// cpu@2
&cpu_l2 {
	cpu-supply = <&vdd_cpu_l>;
};

// cpu@3
&cpu_l3 {
	cpu-supply = <&vdd_cpu_l>;
};

// cpu@100
&cpu_b0 {
	cpu-supply = <&vdd_cpu_b>;
};

// cpu@101
&cpu_b1 {
	cpu-supply = <&vdd_cpu_b>;
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

// vdd_log
&pwm2 {
	status = "okay";
};

// -------------------- SDMMC and SDHCI --------------------------------------
// on-board emmc
// mmc@fe320000
&sdmmc {
	bus-width = <4>;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	// clock-frequency = <1500000>;
	max-frequency = <150000000>;
	pinctrl-names = "default";
	cd-gpios = <&gpio0 RK_PA7 GPIO_ACTIVE_LOW>; // seems reserved
	pinctrl-0 = <&sdmmc_clk &sdmmc_cd &sdmmc_cmd &sdmmc_bus4>; // TODO: is the order matter?
	vqmmc-supply = <&vcc_sd>; // TODO:
	// ...

	status = "okay";
};
// emmc_phy: phy@f780 {
&emmc_phy {
	status = "okay";
};


// tf card
// mmc@fe330000
&sdhci {
	bus-width = <8>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	non-removable;
	// keep-power-in-suspend;

	status = "okay";
};

// -------------------- UART -------------------------------------------------
// used for ttl output by default
// serial@ff1a0000
&uart2 {
	status = "okay";
};

// -------------------- Ethernet ---------------------------------------------
// default
// gmac: ethernet@fe300000 {
&gmac {
	assigned-clocks = <&cru SCLK_RMII_SRC>;
	assigned-clock-parents = <&clkin_gmac>;
	clock_in_out = "input";
	phy-supply = <&vcc_phy>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	// pinctrl-1 = <&rgmii_sleep_pins>; // TODO
	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>; // seems reserved
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 50000>;
	tx_delay = <0x2a>; // TODO
	rx_delay = <0x21>; // TODO
	status = "okay";
};
/*
// rtl 8211e
&gmac {
	assigned-clocks = <&cru SCLK_RMII_SRC>;
	assigned-clock-parents = <&clkin_gmac>;
	clock_in_out = "input";
	phy-supply = <&vcc_phy>;
	phy-mode = "rgmii";
	phy-handle = <&rtl8211e>;
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>, <&phy_intb>, <&phy_rstb>;
	tx_delay = <0x28>;
	rx_delay = <0x11>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		rtl8211e: ethernet-phy@1 {
			reg = <1>;
			interrupt-parent = <&gpio3>;
			interrupts = <RK_PB2 IRQ_TYPE_LEVEL_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <30000>;
			reset-gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
		};
	};
};
*/

// -------------------- USB and Type-C ---------------------------------------

// u2phy0: usb2phy@e450 {
&u2phy0 {
	status = "okay";

	u2phy0_otg: otg-port {
		// phy-supply = <&vbus_typec>; // TODO, if type-c is otg
		status = "okay";
	};

	u2phy0_host: host-port {
		phy-supply = <&vcc5v0_host>; // TODO
		status = "okay";
	};

};

// u2phy1: usb2phy@e460 {
&u2phy1 {
	status = "okay";

	u2phy1_otg: otg-port {
		status = "okay";
	};

	u2phy1_host: host-port {
		phy-supply = <&vcc5v0_host>; // TODO
		status = "okay";
	};
};


// usb@fe380000
&usb_host0_ehci {
	status = "okay";
};

// usb@fe3a0000
&usb_host0_ohci {
	status = "okay";
};

// usb@fe3c0000
&usb_host1_ehci {
	status = "okay";
};

// usb@fe3e0000
&usb_host1_ohci {
	status = "okay";
};

// usb@fe800000
&usbdrd3_0 {
	status = "okay";

	usbdrd_dwc3_0 {
		status = "okay";
		dr_mode = "host";
	};
};

// usb@fe900000
&usbdrd3_1 {
	status = "okay";

	usbdrd_dwc3_1 {
		status = "okay";
		dr_mode = "host";
	};
};

// ----------------------------type-c----------------------------------
// tcphy0: phy@ff7c0000 {
&tcphy0 {
	status = "okay";

	// optional
/*
	tcphy0_dp: dp-port {
	};

	tcphy0_usb3: usb3-port {
	};
*/
};

// tcphy1: phy@ff800000 {
&tcphy1 {
	status = "okay";

	// optional
/*
	tcphy0_dp: dp-port {
	};

	tcphy0_usb3: usb3-port {
	};
*/
};

// for type-c
&i2c4 {
	clock-frequency = <400000>;
	i2c-scl-rising-time-ns = <450>; // TODO
	i2c-scl-falling-time-ns = <15>;
	status = "okay";

	// fusb302@22 {
	fusb0: typec-portc@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		pinctrl-names = "default";
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PA2 IRQ_TYPE_LEVEL_LOW>; // seems reserved
		pinctrl-0 = <&fusb0_int>;
		vbus-supply = <&vbus_typec>;
		status = "okay";
		// ...
	};
};
